form(@submit.prevent='submitForm')
    .form-control(:class="{invalid: !firstName.isValid}")
        label(for='firstname') First Name
        input(
            type='text'
            id='firstname'
            v-model.trim='firstName.value'
            @blur="clearValidation('firstName')")
        p(v-if='!firstName.isValid' class='error') First name must not be empty
    .form-control(:class="{invalid: !lastName.isValid}")
        label(for='lastname') Last Name
        input(
            type='text'
            id='lastname'
            v-model.trim='lastName.value'
            @blur="clearValidation('lastName')")
        p(v-if='!lastName.isValid' class='error') Last name must not be empty
    .form-control(:class="{invalid: !description.isValid}")
        label(for='description') Description
        textarea(
            id='description'
            rows='5'
            v-model.trim='description.value'
            @blur="clearValidation('description')")
        p(v-if='!description.isValid' class='error') description must not be empty
    .form-control(:class="{invalid: !rate.isValid}")
        label(for='rate') Hourly Rate
        input(
            type='number'
            id='rate'
            v-model.number='rate.value'
            @blur="clearValidation('rate')")
        p(v-if='!rate.isValid' class='error') Rate must be greater than 0
    .form-control(:class="{invalid: !areas.isValid}")
        h3 Areas of Expertise
        div
            input(
                type='checkbox'
                id='frontend'
                value='frontend'
                v-model='areas.value'
                @blur="clearValidation('areas')")
            label(for='frontend') Frontend Development
        div
            input(
                type='checkbox'
                id='backend'
                value='backend'
                v-model='areas.value'
                @blur="clearValidation('areas')")
            label(for='backend') Backend Development
        div
            input(
                type='checkbox'
                id='career'
                value='career'
                v-model='areas.value'
                @blur="clearValidation('areas')")
            label(for='career') Career Adrisory
        p(v-if='!areas.isValid' class='error') At least one checkbox must be selected

    h4(v-if='!formIsValid' class='error') Please fix above errors and submit again
    base-button Register